@page "/"
@inherits IndexBase

<PlaylistNavigation></PlaylistNavigation>

<section class="tablescroll">
    <div class="table header">
        <div></div>
        <div>Name</div>
        <div>Time</div>
        <div>Artist</div>
        <div>Album</div>
    </div>
    <div class="table body">
        @foreach(var item in Videos)
        {
            <div class="item" draggable="true">
                <div>✅</div>
                <div>@item.Name</div>
                <div>@item.Time</div>
                <div>@item.Artist</div>
                <div>@item.Album</div>
            </div>
        }
    </div>
</section>