@page "/"
@inherits IndexBase

<PlaylistNavigation></PlaylistNavigation>

<section>
    <table class="ui selectable table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Length</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Videos)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Time</td>
                    <td>@item.Artist</td>
                    <td class="disabled">@item.Album</td>
                </tr>
            }
        </tbody>
    </table>
</section>