@page "/"
@inherits IndexBase

<nav class="ui fluid container">
    <div class="ui vertical secondary menu">

        <div class="item">
            <div class="header">Library</div>
            <div class="menu">
                <a href="" class="active item">All Music</a>
                <a href="" class="item">Downloaded</a>
            </div>
        </div>

        <div class="item">
            <div class="header">Sources</div>
            <div class="menu">
                @foreach (var source in Sources)
                {
                    <a href="" class="item"><i class="rss icon"></i>@source.Title</a>
                }
            </div>      
        </div>

        <div class="item">
            <div class="header">Devices</div>
            <div class="menu">
                <a href="" class="item">Phone</a>
            </div>
        </div>


        <div class="item">
            <div class="header">Playlists</div>
            <div class="menu">
                <a href="" class="item">Playlist 50</a>
            </div>
        </div>

    </div>
</nav>

<section>
    <table class="ui selectable table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Length</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Videos)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Duration</td>
                    <td>@item.Author</td>
                    <td class="disabled">none</td>
                </tr>
            }
        </tbody>
    </table>
</section>