@page "/settings"
@page "/settings/general"

<section class="ui container">
    <div class="ui top attached tabular menu">
        <NavLink href="settings/general" class="item" Match="NavLinkMatch.All">General</NavLink>
        <NavLink href="settings/sources" class="item" Match="NavLinkMatch.All">Sources</NavLink>
    </div>
    <div class="ui bottom attached active tab segment">
        <h1>GENERAL</h1>
    </div>
</section>