@inherits LayoutComponentBase

<div class="ui attached stackable borderless menu">
    <div class="ui container">
        <NavMenu />
    </div>
</div>

<div class="ui main container">
    @Body
</div>
