<NavLink href="" class="item">MusicThingy</NavLink>

<NavLink class="item" href="" Match="NavLinkMatch.All">Home</NavLink>
<NavLink class="item" href="sources" Match="NavLinkMatch.All">Sources</NavLink>

<!-- <div class="@NavMenuCssClass" onclick="@ToggleNavMenu"></div> -->

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
